black==25.9.0
cfgv==3.4.0
classify-imports==4.2.0
distlib==0.4.0
identify==2.6.15
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.0.2
packaging==25.0
pathspec==0.12.1
pygame==2.6.1
pytokens==0.3.0
pyupgrade==3.21.0
PyYAML==6.0.3
reorder_python_imports==3.16.0
shapely==2.0.7
tokenize_rt==6.2.0
typing_extensions==4.15.0
virtualenv==20.35.4
