dotenv                               0.9.9
numpy                                2.2.6
openai                               1.93.1
pyaml                                25.5.0
pygame                               2.6.1
PyYAML                               6.0.2
